@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
*{
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;

}
:root {
    --main-color: #fa5353;
    --dark-color: #1b182b;
    --light-color: #322f4a;
    --text-color: #hsl(0,0%,91%);
}
::selection{
    color: var(--text-color);
    background: var(--main-color);
}
section{
    padding: 50px 0 40px;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
    background: var(--dark-color);
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
    color: aliceblue;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--dark-color);
    z-index: 100;
}
.nav{
    display: felx;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
    
}
.logo{
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 30px;
    margin: 0 auto 0 0;
}
.logo span{
    color: var(--main-color);
}
.icons{
    display: flex;
    column-gap: 10px;
    float: right;
    
}
.icons .bx{
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: var(--text-color);
    background: rgba(40,36,60,0.8);
    cursor: pointer;
}
#bell-icon{
    position: relative;
}
#bell-icon span{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--main-color);
    position: absolute;
    top: 10px;
    right: 14px;
}
.menu-icon{
    background: rgba(40,36,60,0.8);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 0.20s;
    z-index: 200;
    border-radius: 50%;
}
.menu-icon div{
    display: block;
    background: aliceblue;
    height: 2px;
    width: 20px;
    transition: 0.20s
}
.move .line1{
    transform: rotate(20deg) translate(1px, -5px);
    opacity: 0;
}
.move .line2{
    opacity: 1;
    transform: rotate(180deg);
}
.move .line3{
    transform: rotate(-20deg) translate(-1px, 5px);
    opacity: 0;
}
.menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,14,0.8);
    z-index: 104;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3;
    clip-path: circle(0% at 100% 0%);
}
.menu.active{
    clip-path: circle(150% at 100% 0%);
}
.menu img{
    width: 700px;
}
.navigationmenu{
    display: grid;
    row-gap: 20px;
    text-align: right;
    padding-right: 40px;
}
.navigationmenu a{
    font-size: 25px;
    color: aliceblue;
    transition: 0.3;
}
.navigationmenu a:hover{
border-bottom: 3px solid aliceblue;
font-size: 30px;
}
.notification{
    position: absolute;
    top: 105%;
    right: 50px;
    background: var(--light-color);
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding: 10px;
}
.home{
    position: relative;
    min-height: 560px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 60px;
}
.home img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: -1;
}
.home-txt{
    padding-right: 50px;
    text-align: right;
}
.home-txt h1{
    font-size: 30px;
    text-transform: uppercase;
        background: linear-gradient(45deg, #fffbc2, #636dac);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;

}
.uff{
    border-radius: 8px;
    background: linear-gradient(45deg, #fffbc2, #636dac);
    padding: 15px 20px;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%, 0 100%);
}
.uff:hover{
    background: linear-gradient(45deg,#636dac, #fffbc2);
    transition: 0.30s all linear;
}
.uff:focus{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 12% 100%, 0 68%);
}
.heading{
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 20px;
}
.heding .bx{
    font-size: 20px;
    color: aliceblue;
    background: linear-gradient(45deg, #fffbc2, #636dac);
    padding: 15px;
    border-radius: 50%;
}
.heading h2{
    font-size: 20px;
}
.box{
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 6px;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.box .box-text{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: hsl(227,14%,20%,0.8);
    backdrop-filter: blur(4px);
    border-radius: 3px;
}
.box .box-text h2{
    font-size: 1rem;
}
.box .box-text h3{
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
}
.rating-download{
    display: flex;
    justify-content: space-between;
}
.rating{
    display: flex;
    align-items: center;
    column-gap: 4px;
    
    padding: 4px 10px;
    border-radius: 5px;
}
.rating .bx{
    color: yellow;
    font-size: 10px;  
}
.rating span{
    color: yellow;
    font-size: 20px; 
}
.box-button .bx{
    padding: 5px;
    background: aliceblue;
    border-radius: 50%;
    color: var(--main-color);
    font-size: 25px;
    float: right;
}
.box-button .bx:hover{
    background: var(--dark-color);
}